@tailwind base;
@tailwind components;
@tailwind utilities;

/* Breadcrumbs */

.MuiBreadcrumbs-separator {
  margin: 0;
  color: rgba(0, 0, 0, 0.401);
}

.custom-input {
  @apply border-[1px] border-[#d3d3d3] w-[180px] h-8 px-[10px] flex items-center text-[12px] rounded-[5px] placeholder:text-[silver] outline-none focus:border-[#000000a1] text-[#333] relative;
}

.custom-menu {
  @apply border-[1px] border-[#d3d3d3] w-[180px] text-[12px] rounded-b-[5px]  text-[#333] border-t-0 -mt-1 bg-white shadow-sm absolute z-10 max-h-[120px] overflow-y-auto;
   
}

.custom-search {
  @apply w-[180px] h-8 text-[12px] bg-[#10489B] rounded-[5px] text-white font-[500] mt-auto;
}

.Dropdown-option {
  @apply p-1 px-[10px] hover:bg-[#eee] cursor-pointer;
}

.custom-filter-container {
  @apply grid grid-cols-12 w-fit mx-auto gap-5 mt-5 xl:flex xl:justify-between xl:w-full;
}
.custom-table-container {
  @apply my-10 rounded-[10px] py-4;
  box-shadow: 0 0 10px #00000015;
}

.custom-table-cell {
  @apply text-start lowercase first-letter:uppercase  text-sm;
}
.custom-table-row {
  @apply border-[2px] table-row border-[#d3d3d349] h-16 border-r-0 border-l-0;
}

.custom-table-head {
  @apply w-full text-sm font-[500];
}

